<!doctype html>

<html ng-app="jSeries">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular App</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="http://code.highcharts.com/stock/highstock.js"></script>
	<script src="js/highcharts-ng.js"></script>
					
	<script src="js/controllers/main.js"></script> <!-- load up controller -->
	<script src="js/services/series.js"></script> <!-- load series service -->
	<script src="js/core.js"></script> <!-- load main application -->

</head>
<!-- SET THE CONTROLLER -->
<body ng-controller="mainController">
	<div class="container">


	<div class="col-sm-8 col-sm-offset-2 text-center">
		<div class="jumbotron" style="padding: 5px 5px 5px 5px">
			<h3>Part 1: Time Series Insert Form</h3>
		</div>
	</div>
		
		

		<div id="series-form" >
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<form class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-xs-2"> Title</label>
						<div class="col-xs-10" style="text-align:left;">
							<input class="form-control" type="text" ng-model="formData.title">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-2"> Min</label>
						<div class="col-xs-10" style="text-align:left;">
							<input class="form-control" type="text" ng-model="formData.min">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-2"> Max</label>
						<div class="col-xs-10" style="text-align:left;">
							<input class="form-control" type="text" ng-model="formData.max">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-2"> Chart type</label>
						<div class="col-xs-10" style="text-align:left;">
							<select class="form-control" ng-model="formData.chart_type" ng-options="template.value as template.name for template in feed.configs">
								</select>
						</div>
					</div>
					<div class="form-group">
						<div style="text-align:center; padding-bottom: 10px; padding-top: 20px;">
							<button type="submit" class="btn btn-primary btn-lg" ng-click="createSeries()">Add</button>
						<div>
					</div>
				</form>
			</div>
		</div>
		<div id="series-list" class="row" style="padding-bottom: 60px; padding-top: 20px;">
			<div class="col-sm-4 col-sm-offset-4">
				<div>
					<h4>Delete Time Series Graphs</h4>
				</div>
				
				<div class="checkbox" ng-repeat="i in series">
					<label>
						<input type="checkbox" ng-click="deleteSeries(i._id)"> {{ i.title }} <br /> {{ i._id }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

	</div>
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<div class="jumbotron" style="padding: 5px 5px 5px 5px">
			<h3>Time Series Graph</h3>
		</div>
	</div>
	
	
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<div >
			<div class="span12">
				
				<form  class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-xs-2"> Time Series to Graph</label>
						<div class="col-xs-10" style="text-align:left;">
							<select type="submit" class="form-control"  ng-model="formData.seriesId">							
								<option ng-repeat="i in series" value="{{i._id}}">
											{{ i._id }}
								</option>
							</select>
							
						</div>
					</div>
					
				</div>
			</div>
			
			<button class="btn btn-primary btn-lg" ng-click="graphSeries()">Graph</button>
			<div class="row" style="padding-top: 30px">
				<highchart id="chart1" config="chartConfig" class="span10"></highchart>
			</div>
		</div>
	</div>
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<div class="jumbotron" style="padding: 5px 5px 5px 5px">
			<h3>Part 2: Visualisation</h3>
		</div>
	</div>
	
	
	<div class="col-sm-8 col-sm-offset-2 text-center">
		<img src="images/image.png"  />
	</div>
</body>
</html>
